mixin custom_header(t, exit, createNew)
    header
        +navbar(t, exit, createNew)

mixin navbar(_t, exit, createNew)
    .navbar
        .container
            h1= _t
            a(href='#', ng-show='loggedIn')
                #add-fruit(ng-click="add_fruit()")
                    i.zmdi.zmdi-plus.zmdi-3x
                    | !{t('layout.navbar.add')}

            a(ng-show='loggedIn', ng-click="logout($event)", href='')= exit
            a(ng-show='!loggedIn', ng-click="newAccountPage()", href='')= createNew

mixin custom_footer(about_txt)
    //- footer
    h3.about(ng-show="loggedIn")= about_txt
    footer(ng-show="loggedIn")
        p !{t('layout.footer.text')}

//- login
mixin login_form
    form.login.ng-hide#login(ng-controller="LoginController", ng-hide="loggedIn || newAccount")
        p.title= 'Login to Match Maker'
        //- loader
        .login-wrapper#login-wrapper
            input#username(tabindex="1", autocapitalize="off", autocorrect="off", type="text", placeholder="username", autofocus, , ng-model='username')
            i.fa.fa-user
            input#password(tabindex="2", type="password", placeholder="password", ng-model='password')
            i.fa.fa-key
            a(href="#")= 'Forgot your password?'
            button(ng-click='send(username, password)')
                i.spinner
                span.state= 'submit'

//-signup form
mixin signup_form
    form.signup.ng-hide#signup(ng-controller="NewAccountController", ng-show="newAccount", ng-hide="loggedIn || loginPage")
        p.title= 'Create new account'
        //- loader
        .signup-wrapper#signup-wrapper
            form
                fieldset
                    .form-group
                    label(for='exampleInputEmail1') Email address
                    input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
                    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                    .form-group
                    label(for='exampleInputPassword1') Password
                    input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                    button(ng-click='send(username, password)')
                        span.state= 'submit'


